# postgres settings
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ask_a_book_development

# AI services
# resemble
RESEMBLE_API_KEY=
RESEMBLE_PROJECT_UUID=
RESEMBLE_VOICE_UUID=
# the callback URL host is where resemble.ai can post the results of the audio
# conversion to. In development you would probably want to use ngrok to forward
# traffic into your dev environment
RESEMBLE_CALLBACK_HOST=https://<your endpoint here>.ngrok.io

# openAI
OPENAI_API_KEY=
OPENAI_COMPLETIONS_ENDPOINT_URL='https://api.openai.com/v1/completions'
OPENAI_EMBEDDINGS_ENDPOINT_URL='https://api.openai.com/v1/embeddings'
OPENAI_EMBEDDINGS_REQUESTS_PER_MINUTE=60
OPENAI_EMBEDDINGS_TOKENS_PER_MINUTE=150000
OPENAI_EMBEDDINGS_MODEL='text-embedding-ada-002'

# S3 settings for activestorage in production. Not required in development mode
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
PRIVATE_S3_BUCKET_REGION=us-east-1
PRIVATE_S3_BUCKET_NAME=

# sidekiq password http://localhost:3000/sidekiq
SIDEKIQ_USER=sidekiq
SIDEKIQ_PASSWORD=password

REDIS_URL=redis://redis:6379

ALLOWED_ORIGINS=https://<your domain here>,http://localhost:3000
HOST=localhost:3000

# smtp info.
# Only needed for the contact us page and user registrations if you have those enabled
OUTBOUND_EMAIL=
ADMIN_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

# change to true if you want to allow user registrations
# Warning! -  there are no controls in place for what they can do
#     once registered and logged in.  They can delete your books
#     or upload new ones which will cost you money to process.
ALLOW_REGISTRATION='false'

# your rails secret key for decrypting config/credentials.yml.enc
# you should generate your own credentials file.  The one included
# with this repo doesn't contain any real data needed for this project
SECRET_KEY_BASE=

